{% extends 'base.html' %} 
{% load static %}
{% block title %}Offers{% endblock %}
{% block content %}

<div class="container container-profile">
   
    <header class="header-profile">
            <div class="row">
                    <div class="nine columns">
                            <p class="header-name">{{student.name}} {{student.surname}}</p>
                            <p class="header_company-localication"><i class="fa fa-home">{{student.city}} </i></p>
                            
                    </div>
                      <div class="three columns">
                         <img src="{{student.image}}" class="header_company-img">
                      </div>
                </div>  
    </header>
    <div class="profile-description">
        <div class="content">
                <p class="content-title"> O sobie: </p>
                <p class="content-description">{{student.description}}</p> 
        </div>
        <div class="content">
                <p class="content-title"> Kierunki studiów</p>
                {% for degree_course in student_info.degree_course %}
                <p class="content-description">{{degree_course}}</p>
                {% endfor %}
        </div>
        <div class="content">
                <p class="content-title"> Doświadczenie</p>
                {% for skillsName, text, start, end, present in student_info.skillsFull %}
               <p class="content-description"> Typ: {{skillsName}} </p> 
               <p class="content-description"> Opis: {{text}} </p>
               {% if present %}
               <p class="content-description"> Od: {{start}} - Do dziś </p>
               {% else %}
               <p class="content-description"> Od: {{start}} Do: {{end}} </p>
               {% endif %}
               <br>
               {% endfor %}
        </div>
        <div class="content">
                <p class="content-title"> Języki</p>
                {% for languages, languages_lvl in student_info.student_lang %}
                <p class="content-description">{{languages}} {{languages_lvl}}</p>
                {% endfor %}
        </div>
        <div class="content">
                <p class="content-title"> Zarobki od</p>
               <p class="content-description">{{student.salary_from}} zł/h</p> 
        </div>
        <div class="content">
                <p class="content-title"> Zarobki do</p>
               <p class="content-description">{{student.salary_to}} zł/h</p> 
        </div>
        <div class="content">
                <p class="content-title"> Link do CV</p>
               <p class="content-description">{{student.document_url}}</p> 
        </div>
        <div class="content">
                <p class="content-title"> Zainteresowania</p>
               <p class="content-description">{{student.interest_text}}</p> 
        </div>
    </div>
        {% if not isEmployer %}
    <nav class="sidebar-menu">
    <ul class="sidebar-menu_content">
            <li class='active'><a href='/'>Profil</a></li>
            <li><a href='/student/edit_profile'>Edycja profilu</a></li>
    </ul>
    </nav>
    {% else %}
        <nav class="sidebar-menu">
        <ul class="sidebar-menu_content">
            <li class='active'><a href='/'>Profil</a></li>
            <li><a href='/employer/send_message/{{ student.id }}'>Wyślij wiadomość</a></li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}