{% extends 'base.html' %} 
{% load static %}
{% block title %}Offers{% endblock %}
{% block content %}
<div class="s-layout">
  <!-- Sidebar -->
  {% include 'partials/_sidenav.html'%}
  <!-- Content -->
  <main class="s-layout__content">

            <div class="row">

                     <tr><td><a href="{% url 'match_offers' %}"><button class="match-button" >Dopasuj oferty</button></a></td></tr>


               <table class="u-full-width">
                     <tbody>
                       {% for offer in offers %}
                       <tr>
                       {% if offer.company.image.url %}
                           <td><img src="{{offer.company.image.url}}" alt="Asseco" class="company-img"></td>
                       {% endif %}
                           <td>Nazwa oferty: {{offer.title}} </td>
                           <td><p class="company_name">Firma: {{offer.company}}</p></td>
                           <td><a style='position:relative; color: darkred' href="{% url 'offer' offer.id %}">Zobacz ofertę</a></td>
                          <!--<td class="percentage__high">100%</td>-->            
                       </tr>
                       {% empty %}
                       <tr>
                         <td style="text-align:center">Nie ma żadnych ofert</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
         </div>
  </main>
  </div>
{% endblock %}