{% extends 'base.html' %} 
{% load static %}
{% block title %}Offers{% endblock %}
{% block content %}
<div class="s-layout">
  <!-- Sidebar -->
  {% include 'partials/_sidenav.html'%}
  <!-- Content -->
  <main class="s-layout__content">
               <table class="u-full-width">
                     <tbody>
                       {% for offer in offers %}
                       <tr>
                           <td><img src="{% static 'images/Screenshot from 2019-04-28 15-27-32.png' %}" alt="Asseco" class="company-img"></td>
                           <td>{{offer.title}} <p class="company_name">Firma: {{offer.company}}</p></td>
                           <td>{{offer.company.city}}</td>
                           <td><a style='position:relative;' href="{% url 'offer' offer.id %}">Zobacz ofertę</a></td>
                           <td class="percentage__high">100%</td>           
                       </tr>
                       {% empty %}
                       <p>Nie ma ofert</p>
                       {% endfor %}
                       
                       <!-- <tr>
                           <td><img src="{% static 'images/Screenshot from 2019-04-28 15-40-15.png' %}" alt="Comarch" class="company-img"></td>
                           <td>Stażysta <p class="company_name">Firma: Comarch</p></td>
                           <td>Kraków</td>
                           <td class="percentage__mid">60%</td>
                     </tr>
                     <tr>
                           <td><img src="{% static 'images/Screenshot from 2019-04-28 15-43-23.png' %}" alt="Biedronka" class="company-img"></td>
                           <td>Kasjer <p class="company_name">Firma: Biedronka</p></td>
                           <td>Rzeszów</td>
                           <td class="percentage__low">20%</td>
                     </tr>   -->
                     </tbody>
                   </table>
         
  </main>
  </div>
{% endblock %}