{% extends 'base.html' %}
{% load static %}
{% block title %}Dodaj ofertę{% endblock %}
{% block content %}

<main>
    <div class = "container nes-container with-title is-centered">
        <p class = "title">Tworzenie oferty pracy</p>
        <div class = "row">
            <!--alerts-->
            {% include 'partials/_alerts.html' %}
            <form id="job_offer_form" method="POST">
                {% csrf_token %}
                <div class="nes-field">
                    <label for="title" class="edit_profile">Nagłówek</label>
                    <input type="text" name="title" class="nes-input" required>
                </div>
                <div class="nes-field">
                    <label for="salary_from" class="edit_profile">Zarobki od</label>
                    <input type="number" name="salary_from" class="nes-input" required>
                </div>
                <div class="nes-field">
                    <label for="salary_to" class="edit_profile">Zarobki do</label>
                    <input type="number" name="salary_to" class="nes-input" required>
                </div>
               <div class="nes-field">
                  <label for="description" class="edit_profile">Opis stanowiska</label>
                  <textarea name="description" class="nes-input"></textarea>
               </div>
               <label for="course" class="edit_profile">Kierunki studiów</label>
               <div class="nes-select">
                  {% if courses %}
                  <select {% if not student_courses %}name="course"{% endif %} id="course">
                    {% for course in courses %}
                    <option value="{{course.name}}">{{course.name}}</option>
                    {% endfor %}
                  </select>
               </div>
               <button id="addCourse" class="nes-btn is-primary">+</button>
                   
                <div id="coursesContainer">
                {% if student_courses %}
                  {% for student_course in student_courses %}
                    <div class="courseListElement">
                    {{student_course.degree_course.name}}
                    <input name="course" style="display:none;"  value="{{student_course.degree_course.name}}">
                    <a class="delete-item" style="color:red;">x</a>
                    </div>
                  {% endfor %}
                {% endif %}
                </div>
                {% endif %}
                <br>
                <label for="language" class="edit_profile">Języki obce</label>
                <div class="nes-select">
                    <select  {% if not student_languages %}name="language"{% endif %} id="language">
                        {% for language in languages %}
                          <option value="{{language.name}}">{{language.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                {% if languages %}
                <label for="languageLvl" class="edit_profile">Poziom</label>
                <div class="nes-select">
                {% if languageLvls %}
                    <select {% if not student_languages %}name="languageLvl"{% endif %} id="languageLvl">
                        {% for languageLvl in languageLvls %}
                            <option value="{{languageLvl.level}}">{{languageLvl.level}}</option>
                        {% endfor %}
                    </select>
                </div>
                    <button id="addLanguage" class="nes-btn is-primary">+</button>
                    <div id="languagesContainer">
                      {% if student_languages %}
                        {% for student_language in student_languages %}
                          <div class="languageListElement">
                            {{student_language.language}}: {{student_language.language_lvl}}  
                            <input name="language" style="display:none;" value="{{student_language.language}}">
                            <input name="languageLvl" style="display:none;" value="{{student_language.language_lvl}}">    
                            <a class="delete-item" style="color:red;">x</a>
                          </div>
                        {% endfor %}
                      {% endif %}    
                    </div>
                {% endif %}
                {% endif %}
                <br>
                <label for="skill" class="edit_profile">Doświadczenie</label>
                <div class="nes-select">
                    {% if skills %}
                    <select id="skill">
                    {% for skill in skills %}
                    <option value="{{skill.name}}">{{skill.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                
                <button id="addSkill" class="nes-btn is-primary">+</button>
                <div id="skillsErrorMessages">
                
                </div>
                <div id="skillsContainer">

                </div>
                {% endif %}
        </div>

<button id="submitBtn" class="nes-btn is-primary">Wyslij</button>
</form>
</div>
</main>
<script src="{% static 'js/dynamic_forms_offer.js' %}"></script>
{% endblock %}