{% extends 'base.html' %}
{% load static %}
{% block title %}Edytuj Profil{% endblock %}
{% block content %}
<main>
<form id="employer_form" method="POST">
{% csrf_token %}
<label for="city">Nazwa firmy:</label>
<input type="text" name="company_name" required value="{{company.company_name}}"></br>
<label for="city">Miasto:</label>
<input type="text" name="city" required value="{{company.city}}"></br>
<label for="street">Ulica</label>
<input type="text" name="street" value="{{company.street}}"></br>
<label for="house_number">Numer budynku:</label>
<input type="text" name="house_number" required value="{{company.house_number}}"></br>
<label for="flat_number">Numer mieszkania:</label>
<input type="text" name="flat_number" value="{{company.flat_number}}"></br>
<label for="description">Opis:</label>
<textarea name="description">{{company.description}}</textarea></br>
<button id="submitBtn">Wyslij</button>
</form>
</main>
{% endblock %}