{% extends 'base.html' %}
{% block title %}Moje oferty pracy{% endblock %}
{% block content %}
<main>
<div class = "container nes-container with-title is-centered">
    <p class = "title">Moje oferty</p>
    <div class="nes-table-responsive">
            <table class="nes-table is-bordered is-centered is-dark" >
            <tbody>

    {% for offer in offers %}
        <tr>
        <td>Nazwa oferty:</td>
            <td><a class="visible-links" href="{% url 'offer' offer.id %}">{{offer.title}}</a></td>
        <td>Usuń ofertę:</td>
        <td><a class="visible-links" href="javascript:{document.getElementById('{{offer.id}}').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>&nbsp;❌
                </a></td>
                <form action="{% url 'delete_offer' offer.id %}" method="POST" id="{{offer.id}}">
                {% csrf_token %}
                <input type="hidden">
                </form>
    {% empty %}
        Nie masz żadnych ofert
        </tr>
    {% endfor %}
            </tbody>
            </table>
    </div>
</div>
</main>
{% endblock %}