{% extends 'base.html' %} 
{% load static %}
{% block title %}Offers{% endblock %}
{% block content %}
<div class="s-layout">
        {% include 'partials/_sidenav.html'%}
        <main class="s-layout__content">
                <ul class="student_profile">
                        {% for student in students %}
                        <li class="student_profile-content">
                                        <div class="row">
                                                
                                                <div class="three columns">
                                                        <img src="{{student.image}}" alt="Pudzian" class="student_profile-img">
                                                </div>
                                                <div class="nine columns">
                                                       <a href="{% url 'student_profile' student.id %}">
                                                           <p class="personal_data">{{student.name}} {{student.surname}}</p>
                                                       </a>
                                                </div>
                                               
                                        </div>

                        </li>
                        {% endfor %}
                </ul>
        </main>
</div>
{% endblock %}