{% extends 'base.html' %}
{% block title %}Parowanie studenta z ofertą{% endblock %}
{% block content %}
<main>
{% include 'partials/_alerts.html' %}
<div class="container nes-container with-title is-centered ">
     <p class = "title">Dopasowanie studentów</p>
<form id="student_form" method="POST">
    {% csrf_token %}
    {% if offers %}
     <select name="offer" style="max-width: 80%" required>
                    {% for offer in offers %}
                    <option value="{{offer.title}}">{{offer.title}}</option>
                    {% endfor %}
                  </select>
    <button id="submitBtn" class="nes-btn is-primary">Wyslij</button>
    {% endif %}
    </form>


                    {% if students %}
                            <div class="nes-table-responsive">
            <table class="nes-table is-bordered is-centered" >
            <tbody>
                        {% for student in students %}
                            <tr>
                            <td>Imię i nazwisko studenta:</td>
                            <td><a class="visible-links" href="{% url 'student_profile' student.student.id %}"><p>{{student.student}}</p></a></td>
                            <td>

                            {% if student.get_percent >= 80 %}
                                <p class="percentage__high">{{ student.get_percent }}%</p>
                                {% endif %}
                             {% if ostudent.get_percent >= 30 and student.get_percent < 80 %}
                                <p class="percentage__mid">{{ student.get_percent }}%</p>
                                {% endif %}
                            {% if student.get_percent < 30  %}
                                <p class="percentage__low">{{ student.get_percent }}%</p>
                                {% endif %}

                            </td>
                            </tr>
                        {% endfor %}
                                                    </tbody>
            </table>
    </div>
                    {% endif %}

</div>
    
</main>
{% endblock %}