{% load static %}

.white-text{
   color: whitesmoke;
}

body
{
    font-size: 1.2em;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
      margin: 0;
}

a
{
   height: inherit;
    text-decoration: none;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
}
.nes-container{
    font-weight: 600;
     backface-visibility: hidden;
     box-shadow: 1px 5px 20px -5px rgba(0,0,0,1);
     border-style: outset;
 }
 *, *::before, *::after {
    box-sizing: border-box;
 }
 
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
    font-style: normal;
 }
 
 p {
   margin: 0;
   font-size: 1.2em;
 }
 .row {
   font-size: 1.4em;
 }
  li {
   display: inline-block;
    padding-right: 10px;
 } 
 nav{
   color: white;
   padding: 10px; 
   background-color: #013c83;
 }
ul {

   text-align: right;
   margin: 0;
   padding: 0px; 
   overflow: hidden;
 }
 .container {
   background:linear-gradient(to right bottom,  #c2c7c7, #bdbebebb);
 }
 footer{
    color: white;
   margin: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #013c83;
   margin-top: auto;
}
 .footer-copyright{
    text-align: center;
 }
 .course {
   padding-left: 5px;
   padding-right: 15px;
}
.language{
   padding-left: 10px;
}
#nes-select__language {
   margin: 0;
   padding: 0;
 } 
 #nes-select__language-lvl{
   margin: 0;
   padding: 0;
 }
 #label-dropdown__lvl{
   padding-right: 120%;  
   margin: 0;
 }  
 .label-dropdown{
   padding-right: 52%;
 }
 .label-dropdown_experience {
   padding-right: 60%;
 }

 .label-dropdown_language{
   padding-right: 87%;
   margin: -7px;
 }
 
 #search-btn{
   margin-top: 5%;
  width: 100%;
}
.container-offer {
   width: 70%;
   max-width: none;
}
header{
   margin-left: 1%;
   padding-top: 6px;
}

.header_title{
   font-size: 2.2em;
   font-weight: 600;
}
.header_title:before {
   content: "";
   display: block;
   width: 98%;
   height: 3px;
   position: absolute;
   left: 1%;
   background-color: #efc73c;
}
.header_company-name{
   font-size: 1.8em;
}
.header_company-localication{
   font-size: 1.6em;
   margin-bottom: 10px;
}
.header:after {
   content: "";
   display: block;
   width: 98%;
   height: 3px;
   position: absolute;
   left: 1%;
   background-color: #efc73c;
}
.header_company-img{
   margin-top: 2%;
   width: 80%;
   height: 60%; 
}
.offer_description{
   font-size: 1.4em;
   margin: 2%; 
}
.job_description-title{
   font-size: 1.6em;
   margin-top: 2%;
   margin-bottom: 10px;
}
.job_description-title:after{
   content: "";
   display: block;
   width: 60%;
   height: 3px;
   position: absolute;
   left: 10px;
   background-color: #33323036;
}
.job_description-content{
   margin-left: 5%;
}

.sidebar-menu{
   margin-top:0%;
   position: relative;
   font-size: 1.4em;
   width: 20vw;
   height: 100%;
   min-width: 250px;
}
.sidebar-menu_content li{
   text-align: left;
   display: block;
   margin-top: 3%;
}
.sidebar-menu_content li:hover{
   background: #036be9;
}
.active {
    background: #036be9;
}
.student_profile{
   text-align: left;
   width: 70%;
}
.student_profile-content{
   width: 100%;
}
.personal_data{
   margin-top: 7%;
   text-align: center;
   margin-bottom: 4%; 
}
.student_profile-content::before{
   content: "";
   display: block;
   width: 98%;
   height: 3px;
   position: absolute;
   left: 1%;
   background-color: #efc73c;
}
.student_profile-content::after{
   content: "";
   display: block;
   width: 98%;
   height: 3px;
   position: absolute;
   left: 1%;
   background-color: #efc73c;

}
 /* Layout */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
 .s-layout__content {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* z-index: -1;  NIE DALO SIE KLIKNAC LINKA 'ZOBACZ OFERTE'*/
    z-index: 10;

 }
 .u-full-width{
   width: 100%;
   box-sizing: border-box;
   font-size: 1.2em;
   font-weight: 600;
   backface-visibility: hidden;
   box-shadow: 1px 5px 20px -5px rgba(0,0,0,1);
   border-style: outset; 
}
.container-profile {
   width: 70%;
   max-width: none;
}
.header-profile{
   float: right;
   width: 70%;
   font-size: 0.6em;
}
.profile-img{
   margin-top: 2%;
  width: 80%;
  height: 60%; 
}
.header-name{
   margin-top: 1%;
}
.header-name:before {
   content: "";
   display: block;
   width: 98%;
   height: 3px;
   position: absolute;
   top: 1px;
   left: 1%;
   background-color: #efc73c;
}
.header-profile:after {
   content: "";
   display: block;
   width: 98%;
   height: 3px;
   position: absolute;
   left: 1%;
   background-color: #efc73c;
}
.profile-description{
   overflow: scroll;
   float: right;
   width: 65%;
   font-size: 1.2em;
   margin: 2%; 
}
.content{
   margin-top: 2%;
}
.content-title{
   font-size: 1.6em;
   margin-top: 2%;
   margin-bottom: 10px;
}
.content-title:after{
   content: "";
   display: block;
   width: 60%;
   height: 3px;
   position: absolute;
   background-color: #33323036;
}
.content-description{
   margin-left: 2%;
}
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: absolute;
    top: 11%;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: #013c83;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
 }
 
 .s-sidebar__nav {
    position: absolute;
    top: 15%;
    left: -35em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 35em;
    height: 100%;
    background-color: #013c83;
    color: rgba(255, 255, 255, 0.7);
    z-index: 20; 
    /* TUTAJ POPRAWECZKA Z Z-INDEX KTOREGO WCZESNIEJ NIE BYLO ZEBY NIE WYJEBALO SIE DO KONCA */
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 35em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5em;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background: #4d6276;
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 3em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .company-img{
   height: 25%;
   width: 28%;
}
 /* Mobile First */
 @media  (min-width: 42em) {
    .s-layout__content {
      margin-top: 4em;
       margin-left: 10em;
       margin-right: 7em;
 
    }
    .s-layout {
       min-height: 91vh;
    }
    /* Sidebar */
    .s-sidebar__trigger {
     top: 3.1%;
       width: 4em;
    }
    
    .s-sidebar__nav {
       height: 96%;
     top: 4.1%;
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 35em;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 40em;
       margin-right: 4em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       height: 93%;
       width: 35em;
       top: 4.1%;
    }
    
    .s-sidebar__nav ul {
       top: 1.3em;
    }
 }
 .company_name{
   display: none;
}
@media only screen and (max-width: 900px){
 
   .container-profile {
      padding: 0;
      float: left;
      width: 100%;
   }
   .header-profile{
      margin-left: 0%;
      width: 75%;
   }
   .profile-description{
      margin-left: 0%;
      width: 70%;
      font-size: 0.8em;
   }
   .sidebar-menu{
      font-size: 1em;
      min-width: 160px;
   }
   .job_description-content{
      margin-left: 0%;
   }
   .content-title{
      font-size: 1.3em;
   }
   .content-title:after{
      width: 40%;
   }
   .content{
      margin-top: 10px;
   }
}
 @media only screen and (max-width: 600px){
   .company_name{
      border-style: solid;
      display: inline-block;
      font-size: 14px;
   }
   td {
      padding: 2% 1%;
   }
   td:first-child {
      display: none;
   }
     nav {
       width: 100vw;
    }
    footer {
      width: 100vw;
    } 
    .company-img{
       width: 10%;
    }
    ul{
      text-align: center;
    }
    li{
    display: block;
    }
    .container-offer {
      font-size: 0.5em;
      width: 90%;
      max-width: none;
   }
   .header_company-localication:after{
      top: 80%;
   }
   .header_company-img{
      margin-left: 23%;
      width: 50%;
      height: 20%;
      padding-bottom: 5%;
   }
   .job_description-title:after{
      left: 0;
      width: 100%;
   }
   .container-profile {
      padding: 0;
      float: left;
      width: 100%;
   }
   .header-profile{
      margin-left: 0%;
      width: 50%;
   }
   .profile-description{
      margin-left: 0%;
      width: 55%;
      font-size: 0.8em;
   }
   .sidebar-menu{
      font-size: 1em;
      min-width: 160px;
   }
   .job_description-content{
      margin-left: 0%;
   }
   .content-title{
      font-size: 1.3em;
   }
   .content-title:after{
      width: 40%;
   }
   .content{
      margin-top: 10px;
   }
    .s-layout {
      display: flex;
      min-height: 73vh;
  }
   .s-layout__content {
      margin-top: 4em;
       margin-left: 0;
       margin-right: 0;
 
    }
    .u-full-width {
      /* width: 145%; */
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
      z-index: 2;
      position: absolute;
      top: 12%;
      left: 0;
      width: 100vw;
      height: 5em;
      background-color: rgb(62, 29, 248);
   }
    
   .s-sidebar__nav {
      overflow: scroll;
      position: absolute;
      top: 20%;
      left: -35em;
      overflow: hidden;
      transition: all .3s ease-in;
      width: 31em;
      height: 96%;
      background-color: rgb(62, 29, 248);
      color: rgba(255, 255, 255, 0.7);
   }
    
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:focus + .s-sidebar__nav,
   .s-sidebar__trigger:hover + .s-sidebar__nav {
      left: 0;
   }
   
   .s-sidebar__nav ul {
      position: absolute;
      top: 4em;
      left: 0;
      margin: 0;
      padding: 0;
      width: 35em;
   }
   
   .s-sidebar__nav ul li {
      width: 93%;
   }
   
   .s-sidebar__nav-link {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 5em;
   }
   
   .s-sidebar__nav-link em {
      position: absolute;
      top: 50%;
      left: 4em;
      transform: translateY(-50%);
   }
   
   .s-sidebar__nav-link:hover {
      background: #4d6276;
   }
   
   .s-sidebar__nav-link > i {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 4em;
      height: 3em;
   }
   
   .s-sidebar__nav-link > i::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .label-dropdown{
      padding-right: 40%;
   }
   .course {
      padding-left: 0px;
      padding-right: 40px;
   }
   .language{
      padding-left: 0px;
   }
   .nes-select{
      width: 103%;
      margin-left:1%;
   }
   input .salary {
      width: auto;
   }
   #search-btn{
       margin-top: 5%;
       width: 95%;
       margin-left: -5px;
   }
   #nes-select__language {
      margin: 0;
      padding: 0;
      width: 95%;
      margin-left:1%;
    } 
    #nes-select__language-lvl{
      margin: 0;
      padding: 0;
      width: 95%;
      margin-left:1%;
    }
    #label-dropdown__lvl{
      padding-right: 77%;  
      margin: 0;
      margin-top: 5%
    }  
    .label-dropdown_experience {
      padding-right: 51%;
  }
 }
 
 select {
   font-size: 14px;
 }
 label{
   margin: 0px;
   text-align: center;
   position: relative;
   font-size: 12px;
 }
 input{
   margin: 0;
   position: relative;
 }
 textarea {
   margin: 0;
 }
 
 div .sidebar__title-paragraph {
   font-size: 1.5rem;
   margin-right: 26%;
 }
 
 
 .percentage__high {
    text-align: center;
    background: rgb(18, 192, 18);
 }
 .percentage__mid {
   text-align: center;
    background: rgb(207, 230, 0);
 }
 .percentage__low {
   text-align: center;
    background: rgb(230, 35, 0);
 }

.edit_profile {
   margin-top: 1vw;
   text-align: left;
   font-size: 1.2em;
}
