{% load static %}
body
{
    font-size: 1.2em;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
      margin: 0;

  
}

a
{
    text-decoration: none;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
}
.nes-container{
    font-weight: 600;
     backface-visibility: hidden;
     box-shadow: 1px 5px 20px -5px rgba(0,0,0,1);
     border-style: outset;
 }
 *, *::before, *::after {
    box-sizing: border-box;
 }
 
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
    font-style: normal;
 }
 
 p {
   margin: 0;
   font-size: 1.2em;
 }
 .row {
   font-size: 1.4em;
 }
  li {
   
    padding-right: 10px;
 } 
 /* Layout */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
 .s-layout__content {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: -1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 11%;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: rgb(62, 29, 248);
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 15%;
    left: -35em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 35em;
    height: 100%;
    background-color: rgb(62, 29, 248);
    color: rgba(255, 255, 255, 0.7);
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 35em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5em;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background: #4d6276;
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 3em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 /* Mobile First */
 @media (min-width: 42em) {
    .s-layout__content {
      margin-top: 4em;
       margin-left: 10em;
       margin-right: 7em;
 
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
     top: 3.1%;
       width: 4em;
    }
    
    .s-sidebar__nav {
     top: 3.1%;
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 35em;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 40em;
       margin-right: 4em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 35em;
       top: 5.1%;
    }
    
    .s-sidebar__nav ul {
       top: 1.3em;
    }
 }
 select {
   font-size: 14px;
 }
 label{
   margin: 0px;
   text-align: center;
   position: relative;
   font-size: 12px;
 }
 input{
   margin: 0;
   position: relative;
 }
 textarea {
   margin: 0;
 }
 .label-dropdown{
   padding-right: 53%;
 }
 div .sidebar__title-paragraph {
   font-size: 1.5rem;
   margin-right: 26%;
 }
   #nes-select__language {
   margin: 0;
   padding: 0;
 }
 #nes-select__language-lvl{
   margin: 0;
   padding: 0;
 }
 #label-dropdown__lvl{
   padding-right: 0;
   padding: 0;
   margin: 0;
   
 } 
 .u-full-width{
    width: 100%;
     box-sizing: border-box;
     
 }

 .percentage__high {
    background: rgb(18, 192, 18);
 }
 .percentage__mid {
    background: rgb(207, 230, 0);
 }
 .percentage__low {
    background: rgb(230, 35, 0);
 }
 .company-img{
    height: 25%;
    width: 28%;
 }
 .u-full-width {
    font-weight: 600;
      backface-visibility: hidden;
      box-shadow: 1px 5px 20px -5px rgba(0,0,0,1);
      border-style: outset;
 }
 .course {
    padding-left: 5px;
    padding-right: 15px;
 }
 .language{
    padding-left: 10px;
 }
 #search-btn{
     margin-top: 5%;
    width: 100%;
 }