<!-- header -->
{% load static %}
<header class="header">
        <div class="row">
            <div class="nine columns">
                    <p class="header_title">{{offer.title}}</p>
                    <a href="{% url 'employer_profile' offer.company.id %}" class="header_company-name">{{offer.company}}</a>
                    <p class="header_company-localication"><i class="fa fa-home">{{offer.company.city}}</i></p>
            </div>
              <div class="three columns">
                     <img src="{{offer.company.image}}" class="header_company-img">
              </div>
        </div>    
</header>