<!-- header -->
{% load static %}
<header class="header">
        <div class="row">
            <div class="nine columns">
                    <p class="header_title">Junior Pascal Developer</p>
                    <a href="#" class="header_company-name">Asseco Poland</a>
                    <p class="header_company-localication"><i class="fa fa-home">Rzeszów, podkarpackie </i></p>
            </div>
              <div class="three columns">
                    <img src="{% static 'images/Screenshot from 2019-04-28 15-27-32.png' %}" alt="Asseco" class="header_company-img">
              </div>
        </div>    
</header>