{% load static %}
<!--Navbar-->

<nav class="main-navbar">
     <div class="row">
        <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>--> 
    <div class="one column"><a href="#" class="brand-logo">Ework</a></div> 
    <div class="eleven columns">
        <ul>
            <li><a href="/users/login" class="navbar" id="zaloguj">Zaloguj</a></li>
            <li><a href="/users/register" class="navbar">Rejestracja</a></li>
          </ul>
    </div>
   
     </div> 
   
</nav>
<!--
  <ul class="sidenav" id="mobile-demo">
        <li><a href="/users/login" class="">Zaloguj</a></li>
        <li><a href="/users/register" class="">Rejestracja</a></li>
</ul>
-->
