{% load static %}
<!--Navbar-->

<nav class="main-navbar">
     <div class="row">
        <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>--> 
    <div class="one column"><a href="#" class="brand-logo">Ework</a></div> 
    <div class="eleven columns">
        <ul>
        {% if user.is_authenticated %}
         <p class="title">Witaj, {{user.first_name}}!</p>
          <li><a class="white-text" href="{% url 'profile' %}" class="navbar">Profil</a></li>
          <li><a class="white-text" href="{% url 'offers' %}" class="navbar">Oferty</a></li>
          <li><a class="white-text" href="{% url 'messages' %}" class="navbar">Wiadomości</a></li>
          {% if not user.isEmployer %}
          <li id="edit_student"><a class="white-text" href="{% url 'edit_profile' %}" class="navbar">Edytuj profil</a></li>
          {% endif %}
          {% if user.isEmployer %}
          <li><a class="white-text" href="{% url 'find_student' %}" class="navbar">Wyszukiwanie studentów</a></li>
          <li><a class="white-text" href="{% url 'add_offer' %}" class="navbar">Dodaj Ofertę</a></li>
          <li><a class="white-text" href="{% url 'employer_offers' %}" class="navbar">Moje Oferty</a></li>
          <li id="edit_employer"><a class="white-text" href="{% url 'employer_edit_profile' %}" class="navbar">Edytuj profil</a></li>
          {% endif %}
          <li><a class="white-text" href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                Wyloguj
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
                </form></li>
            {% else %}
            <li><a class="white-text" href="{% url 'login' %}" class="navbar" id="zaloguj">Zaloguj</a></li>
            <li><a class="white-text" href="{% url 'register' %}" class="navbar">Rejestracja</a></li>
            {% endif %}
          </ul>
    </div>
   
     </div> 
   
</nav>
