{% load static %}
<!--Navbar-->

<nav class="main-navbar">
     <div class="row">
        <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>--> 
    <div class="one column"><img src="/static/images/logo.png" style="margin-top:3%"></div>
    <div class="eleven columns">
        <ul>
        {% if user.is_authenticated %}
         <li>Witaj, {{user.first_name}}!</li>
          <li><a href="{% url 'profile' %}"><button class="nav-buttons" class="navbar">Profil</button></a></li>
          {% if not user.isEmployer %}
          <li><a href="{% url 'offers' %}" ><button class="nav-buttons" class="navbar">Oferty</button></a></li>
              {% endif %}
          <li><a href="{% url 'messages' %}"><button class="nav-buttons"  class="navbar">Wiadomości{% if user.get_unread_messages > 0 %}
                  <b>({{user.get_unread_messages}})</b>
          {% endif %}</button></a></li>
          {% if not user.isEmployer %}
          <li id="edit_student"><a class="nav-buttons" href="{% url 'edit_profile' %}" class="navbar">Edytuj profil</a></li>
          {% endif %}
          {% if user.isEmployer %}
          <li><a href="{% url 'find_student' %}"><button class="nav-buttons" class="navbar">Wyszukiwanie studentów</button></a></li>
          <li><a href="{% url 'add_offer' %}"><button class="nav-buttons" class="navbar">Dodaj Ofertę</button></a></li>
          <li><a href="{% url 'employer_offers' %}"><button class="nav-buttons" class="navbar">Moje Oferty</button></a></li>
          <li id="edit_employer"><a class="white-text" href="{% url 'employer_edit_profile' %}" class="navbar">Edytuj profil</a></li>
          {% endif %}
          <li>
          <form action="{% url 'logout' %}" method="POST" id="logout">
              <button class="nav-buttons" href="javascript:{document.getElementById('logout').submit()}" class="nav-link">Wyloguj</button>
                {% csrf_token %}
                <input type="hidden">
                </form>
          </li>
            {% else %}
            <li><a href="{% url 'login' %}"><button class="nav-buttons"  class="navbar" id="zaloguj">Zaloguj</button></a></li>
            <li><a href="{% url 'register' %}"><button class="nav-buttons" class="navbar">Rejestracja</button></a></li>
            {% endif %}
          </ul>
    </div>
   
     </div> 
   
</nav>
