{% load static %}
<!--Sidenav-->
<div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
       <i class="fa fa-bars"></i>
    </a>
   
    <nav class="s-sidebar__nav">
    
      <br>
      
      <form method="POST">
      
          <ul class="form">
            <li>
                <div class="sidebar__title">
                    <p class="sidebar__title-paragraph">Wyszukiwarka <i class="fa fa-search"></i></p>
                     
                  </div>
            </li>
              <li>
                 <a class="s-sidebar__nav-link" href="#0">
                    <label for="salary_from">Zarabki od</label>
                      <input type="number" name="salary_from" class="salary">
                 </a>
              </li>
              <li>
                  <a class="s-sidebar__nav-link" href="#0">
                      <label for="salary_to">Zarabki do</label>
                        <input type="number" name="salary_to" class="salary">
                   </a>
              </li>
              <li class="course">
                 <a class="s-sidebar__nav-link" href="#0">
                   
                      <label for="course_select" class="label-dropdown">Kierunek studiów</label>
                      <br>
                      <div class="nes-select">
                      <select required id="course_select" name="courses">
                      <option value="" disabled selected hidden>Wybierz...</option>
                      <option value="0">Informatyka</option>
                      <option value="1">Zarządzanie</option>
                       </select>
                    </div>
                 </a>
              </li>
              <li class="language">
                  <a class="s-sidebar__nav-link" href="#0">
                          <label for="language_select" class="label-dropdown_language">Język</label>
                          <br>
                          <div class="nes-select" id="nes-select__language">
                          <select required id="language_select" name="language">
                          <option value="" disabled selected hidden>Wybierz...</option>
                          <option value="0">Angielski</option>
                          <option value="1">Niemiecki</option>
                           </select>
                        </div>
                      
                        <br>
                          <label for="language_lvl-select" class="label-dropdown" id="label-dropdown__lvl">Poziom</label>
                          <div class="nes-select" id="nes-select__language-lvl">
                          <select required id="language_lvl-select" name="language_lvl">
                          <option value="" disabled selected hidden>Wybierz...</option>
                          <option value="0">A1</option>
                          <option value="1">A2</option>
                          <option value="2">B1</option>
                           </select>
                        </div>
                       
                      
                  
                      
                  </a>
               </li>
               <li class="course">
                  <a class="s-sidebar__nav-link" href="#0">
                    
                       <label for="experience_select" class="label-dropdown_experience">Doświadczenie</label>
                       <br>
                       <div class="nes-select">
                       <select required id="experience_select" name="skills" multiple>
                       <option value="" disabled selected hidden>Wybierz...</option>
                       <option value="0">Praca</option>
                       <option value="1">Staż</option>
                       <option value="2">Praktyki</option>
                        </select>
                     </div>
                  </a>
               </li>
               <li>
                     <button type="button" class="nes-btn is-primary" id="search-btn">Primary</button>
               </li>
           </ul>
      </form>
    </nav>
    
  </div>