
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document {% block title %}{% endblock %}</title>
    <!--Skeleton.css-->
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}"> 
    <!--Nes.css-->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <!--Nes Font-->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <!-- w3 icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Custom-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
 
   
</head>
<body>

    <style>
        main {
        background-image: linear-gradient(to right bottom, #bcbebed3, #575858bb), url("{% static 'images/background1.jpeg' %}");
        background-position: top;
        position: relative;
            }
                 
    </style>

<!-- Nav Bar -->
{% include 'partials/_navbar.html'%}

    {% block content %}

    {% endblock %}

<!-- Footer -->
{% include 'partials/_footer.html'%}

<script src="{% static 'js/dynamic_forms_student.js' %}"></script>
</body>
</html>