{% extends 'base.html' %}
{% block title %}Wiadomosci{% endblock %}
{% block content %}
<main>

{% for message in messages %}
<p>{{message.header}}</p>
<p>{{message.content}}</p>
<p>......</p>

{% endfor %}

<section class="message-list">
  <section class="message -left">
    <i class="nes-bcrikko"></i>
    <!-- Balloon -->
    <div class="nes-balloon from-left">
      <p>Hello NES.css</p>
    </div>
  </section>

  <section class="message -right">
    <!-- Balloon -->
    <div class="nes-balloon from-right">
      <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
    </div>
    <i class="nes-bcrikko"></i>
  </section>
</section>

</main>
{% endblock %}