
{% extends 'base.html' %}

{% block title %}Logowanie do systemu{% endblock %}

{% block content %}

<main>

<!--alerts-->
{% include 'partials/_alerts.html' %}
<br>
<div class = "container nes-container with-title is-centered">

    <p class = "title">Logowanie</p>
    <p>Witaj w systemie Ework</p>
    <br>
<div class = "row">
    <!--alerts-->
    
    <div class = "four columns offset-by-four">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %} 

            <p align="center">Login</p>
            <textarea  class="u-full-width" name="username" style="resize:none" required></textarea>

        
            <p align="center">🔑 Hasło</p>
             <input  class="u-full-width" name="password" style="resize:none" type="password" required>
            <br><br>
    </div>
        </div>
    <button type="submit"class="nav-buttons">Zaloguj się</button>
    </div>
</main>
{% endblock %}