
{% extends 'base.html' %}

{% block title %}Logowanie do systemu{% endblock %}

{% block content %}

<main>

<!--alerts-->
{% include 'partials/_alerts.html' %}
<br>
<div class = "container nes-container with-title is-centered">
    <p class = "title">Logowanie</p>
    <p>Witaj w zajebistym systemie Ework, czas na logowanie 😠</p>
    <br>
<div class = "row">
    <!--alerts-->
    {% include 'partials/_alerts.html' %}
    <div class = "col l4 offset-l1">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %} 

            <p align="left">😡 Login</p>
            <input  class="nes-textarea" name="username" style="resize:none" required>
        </div>
        
            <p align="left">🔑 Hasło</p>
             <input  class="nes-textarea" name="password" style="resize:none" type="password" required>
            <br><br>
        </div>
        <input type="submit" value="Zaloguj się" class="nes-btn is-primary">
    </div>
</main>
{% endblock %}