{% extends 'base.html' %}
{% block title %}Wiadomosci{% endblock %}
{% block content %}
<main>

Do kogo ja pisalem
<table>
{% for item1 in from_list%}

{% if isEmployer %}
<tr><td>Imie studenta: {{item1}}<td></tr>
{% else %}
<tr><td>Nazwa firmy: {{item1}}<td></tr>
{% endif %}
{% empty %}

<li>Nie masz zadnych wiadomosci</li>

{% endfor %}

</table>

Kto do mnie pisał
<table>
{% for item2 in to_list%}

{% if isEmployer %}
<tr><td>Imie studenta: {{item2}}<td></tr>
{% else %}
<tr><td>Nazwa firmy: {{item2}}<td></tr>
{% endif %}

{% empty %}

<li>Nie masz zadnych wiadomosci</li>

{% endfor %}

</table>



<a href="/users/new_message">Wyslij nowa wiadomosc</a>

</main>
{% endblock %}