{% extends 'base.html' %}
{% block title %}Wiadomosci{% endblock %}
{% block content %}
<main>
<div class = "container nes-container with-title is-centered">

    <p class = "title">Wiadomości</p>
    {% include 'partials/_alerts.html' %}
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered is-dark">
            <tbody>
                {% if isEmployer %}
                    {% for id, name, surname in all_messages %}
                        <tr>
                            <td>
                                Student:

                            </td>
                            <td>
                                <a href="{% url 'chat' id %}">
                                    {{name}} {{surname}}
                                </a>
                            </td>

                    {% empty %}
                            <td>
                             Nie masz żadnych wiadomości
                            </td>
                         </tr>
                    {% endfor %}
                {% else %}

                    {% for id, name in from_list%}
                        <tr>
                            <td>
                                Nazwa firmy:
                            </td>
                            <td>
                                <a href="{% url 'chat' id %}">
                                    {{name}}
                                </a>
                            </td>
                    {% empty %}
                            <td>
                                Nie masz żadnych wiadomości
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

<form action="/users/new_message">
<input type="submit" class="nes-btn is-primary" value="Wyslij nowa wiadomosc">
</form>

</div>
</main>
{% endblock %}