
{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}
{% block content %}
<main>
    <br>
        <div class = "container nes-container with-title is-centered">
            <p class = "title">Rejestracja</p>
            <p>Witaj w systemie Ework, wypełniaj pola ponizej aby sie zarejestrować</p>
            <br>
    <div class = "row">
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <div class = "col l4 offset-l1">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %} 
                <p align="left">📝 Imię</p>
                <textarea  class="nes-textarea" name="first_name" style="resize:none" required placeholder="Imię"></textarea>

                <p align="left">📝 Nazwisko</p>
                <textarea  class="nes-textarea" name="last_name" style="resize:none" required placeholder="Nazwisko"></textarea>

                <p align="left">Twoja unikalna nazwa uzytkownika</p>
                <textarea class="nes-textarea" name="username" style="resize:none" required placeholder="Login"></textarea>

                <p align="left">📩 E-mail</p>
                <textarea  class="nes-textarea" name="email" style="resize:none" required placeholder="E-mail"></textarea>
            </div>
            <div class = "col l4 offset-l2">
            <p align="left">☎️ Numer komórkowy</p>
            <textarea  class="nes-textarea" name="phone" style="resize:none" required placeholder="Numer komórkowy"></textarea>
            <p align="left">Zarejestruj się jako</p>
                <div class = "nes-container is-rounded">
                    <label>
                    <input type="radio" class="nes-radio" name="isEmployer" value='False' checked/>
                    <span>👩‍🎓 Student</span>
                    </label>

                    <label>
                    <input type="radio" class="nes-radio" name="isEmployer" value='True'/>
                    <span>👩‍💼 Pracodawca</span>
                    </label>
                </div>

                <p align="left">🔑 Hasło</p>

                <input type="password" class="nes-textarea" name="passwd1" style="resize:none" placeholder="Hasło" required>

                <p align="left">🔑 Podaj hasło jeszcze raz</p>
                <input type="password" class="nes-textarea" name="passwd2" style="resize:none" placeholder="Powtórz hasło" required>

      
            </div>
        </div>
        

        <input type="submit" value="Zarejestruj" class="nes-btn is-primary">
        </form>

        </div>
    <br>
</main>
{% endblock %}