
{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}
{% block content %}
<main>
    <br>
        <div class = "container nes-container with-title is-centered">
            <p class = "title">Rejestracja</p>
            <h3>Witaj w systemie Ework, wypełniaj pola ponizej aby sie zarejestrować</h3>
            <br>
    <div class = "row">
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <div class = "col l4 offset-l1">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %} 
                <p align="left">📝 Imię</p>
                <input type="text" class="u-full-width" name="first_name" style="resize:none" required placeholder="Imię">
                <br><br>
                <p align="left">📝 Nazwisko</p>
                <input type="text" class="u-full-width" name="last_name" style="resize:none" required placeholder="Nazwisko">
                <br><br>
                <p align="left">Twoja unikalna nazwa uzytkownika</p>
                <input type="text" class="u-full-width" name="username" style="resize:none" required placeholder="Login">
                <br><br>
                <p align="left">📩 E-mail</p>
                <input class="u-full-width" type="email" name="email" style="resize:none" required placeholder="E-mail" id="exampleEmailInput">
            </div>
            <div class = "col l4 offset-l2">
            <p align="left">☎️ Numer komórkowy</p>
            <input class="u-full-width" name="phone" type="tel" style="resize:none" required placeholder="Numer komórkowy">
                <br><br>
            <p align="left">Zarejestruj się jako</p>
                    <label>
                    <h2><input type="radio" name="isEmployer" value='False' checked/>
                    <span>👩‍🎓 Student</span></h2>
                    </label>
                    <br>
                    <label>
                    <h2><input type="radio"  name="isEmployer" value='True'/>
                    <span>👩‍💼 Pracodawca</span></h2>
                    </label>
                <br><br>
                <p align="left">🔑 Hasło</p>

                <input type="password" class="u-full-width" name="passwd1" style="resize:none" placeholder="Hasło" required>
                <br><br>
                <p align="left">🔑 Podaj hasło jeszcze raz</p>
                <input type="password" class="u-full-width" name="passwd2" style="resize:none" placeholder="Powtórz hasło" required>

      
            </div>
        </div>
        
            <br>
            <button type="submit" class="nav-buttons">Zarejestruj</button>
        </form>

        </div>
    <br>
</main>
{% endblock %}